<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>13 de Dezembro de 2018</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/demo.css" />
		<link rel="stylesheet" type="text/css" href="css/novafrase.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
                                    <img src="lupa.png" style="height: 22px; margin-left: 15px; margin-right: 28px; margin-bottom: -3px;">
                                    <input placeholder="Procurar" type="search" class="gn-search">
								</li>
								<li><a href="Calendario.html"><img src="097-512.png" style="height:25px; margin-left: 15px; margin-right: 32px; margin-bottom: -5px">Frases</a></li>
                                <li><a href="Calendario.html"><img src="teammate_618547.png" style="height: 33px; margin-left: 12px; margin-right: 28px; margin-bottom: -3px; ">Equipas</a></li>
                                <li><a href="http://www.google.pt"><img src="Data-Export-icon1.png" style="height: 28px; margin-left: 15px; margin-right: 30px; margin-bottom: -5px">Exportar</a></li>
                                <li><a href="http://www.google.pt"><img src="option.png" style="height: 24px; margin-left: 15px; margin-right: 33px; margin-bottom: -5px;">Definições</a></li>
							</ul>
						</div>
					</nav>
				</li>
				<li><a class="codrops-icon codrops-icon-prev" href="dia.html"><img src="atras.png" style="height:30px;margin-left:-20px;margin-bottom: -8px;margin-right: 20px">Retroceder</a></li>
                
                  <li><a class="codrops-icon codrops-icon-prev" href="help.png"><img src="help.png" style="height: 40px;margin-top:25%"> </a></li>
            
                      
                <li class="dropdown"><a class="dropbtn" ><img src="user.png" style="height: 26px; margin-left:0px; margin-right: 20px; margin-bottom:-5px; ">Alice</a>
                    <div class="dropdown-content">
                <a href="#" >Meu Perfil</a>
                <a href="#">Empresa: Happy Travel</a>
                <a href="#">Logout</a>
                        </div>
                </li>
                
			</ul>
			<header>
				<dt><h1><img src="plus.png" style="height: 60px; margin-right: 25px; margin-left:-20px;margin-bottom: -10px"><span>Nova Frase</span></h1></dt>
			</header>
        </div>
            <div class="wrapper">
            
                <main>
                <div class="toolbar">
                    <div class="mes">
                    <dl>
                        <dt class="prev">&#10094;</dt>
                        <dt class="next">&#10095;</dt>
                        <dt>13 de Dezembro de 2018</dt>
                    </dl>
                    </div>
                </div>
           
                
                <div class="ac_box">
                    <div class="ac_box_top"></div>
                    <div class="ac_box_cont">
                    
                        
                        
                        
                    <dt style="margin-top: 2%; margin-left: 10px">
                        <span style="padding: 12px 22px;"> Sujeito</span>
                        <span style="padding: 295px ">Ação</span>
                        <span style="padding: 700px -10px ">Recetor <b>(Opcional)</b></span>
                         </dt>
                    <dt>
                        <form autocomplete="off" action="/action_page.php">
                        <div class="autocomplete" style="width:250px; margin-left: 12px;">
                            <input id="myInput" type="text" name="myCountry" placeholder="">     
                        </div>
                        </form>
                        
                         <form autocomplete="off" action="/action_page.php">
                        <div class="autocomplete" style="width:250px; margin-left: 380px;">
                            <input id="myInput1" type="text" name="myCountry" placeholder="">
                        </div>
                        </form>
                        
                         <form autocomplete="off" action="/action_page.php">
                        <div class="autocomplete" style="width:250px; margin-left: 720px;">
                        <input id="myInput2" type="text" name="myCountry" placeholder="">
                        </div>
                        </form>
                    </dt>
                        
                    <dt>
                        <form style="margin-top:10%;margin-left: 12px;width: 62%; ">
                            <span style="padding: 12px 10px;">Artefacto</span>
                            <input type="text">
                        </form>
                        
                        <form autocomplete="off" action="/action_page.php">
                            <div class="autocomplete" style="width:250px; margin-left: 720px;margin-top: -80px">
                                <span style="padding: 12px 10px;">Recursos </span>
                                <input id="myInput3" type="text" name="myCountry" placeholder="">
                                <a onclick="myFunction()" style="cursor: pointer">+ Adicionar Recurso</a>
                    
                            </div>
                        </form>
                    </dt>
                        <dt>
                            <form style="margin-top:5%;margin-left: 12px;width: 62%; ">
                                <span style="padding: 12px 10px;">Informação Adicional <b>(Opcional)</b></span>
                                <input type="text" style="height:100px">
                            </form> 
                        </dt>
                        
                            <dt style="margin-top: 30px">
                                
                                <button class="button_cancelar" onclick="openCancel()" ><img src="cancelar.png" style="height: 30px; margin-bottom: -10px; margin-left:-10px;"><span style="margin-left: 8%;">Cancelar</span></button>
                                 <div class="form-popup" id="Cancel">
                                <form class="form-container">
                                <h1>A Frase não foi guardada</h1>
                                    <label ><b>Tem a certeza que quer sair da página?</b><p>Irá perder os dados inseridos.</p></label>
                                    

                                    <button class="btn " href="Calendario.html">Sim</button>
                                    
                                    <button type="button" class="btn cancel" onclick="closeCancel()">Não</button>
                                    </form>
                                </div>
                            
                                <a  href="apagar.html"><button class="button_limpar"><img src="eraser.png" style="height: 40px; margin-bottom: -10px; margin-left:-5px;"><span style="margin-left: 8%;">Limpar</span></button></a>
                            
                                <button class="open-button" onclick="openForm()"><img src="save.png" style="height: 40px; margin-bottom: -10px; margin-left:-5px; margin-right:10px ">Guardar</button>
                                
                                <div class="form-popup" id="myForm">
                                <form class="form-container">
                                <h1>Deseja guardar os dados da seguinte frase?</h1>

                                    <label for="email"><b>Sujeito</b></label><p>As Andorinhas</p>
                                    <label for="psw"><b>Ação</b></label><p>Contactar</p>
                                    <label for="psw"><b>Recetor</b></label><p>Alice</p>
                                    <label for="psw"><b>Artefacto</b></label><p>Tratar da compra dos bilhetes de avião dos docentes</p>
                                    <label for="psw"><b>Recurso</b></label><p>Email</p>
                                    <label for="psw"><b>Informação Adicional</b></label><p>Sem dados</p>

                                    <a href<button class="btn " href="diaf.html"><img src="save.png" style="height: 40px; margin-left: -50px; margin-right: 40px; margin-top: -15px; margin-bottom: -15px">Guardar</button>
                                    
                                    <button type="button" class="btn cancel" onclick="closeForm()"><img src="cancelar.png" style="height: 30px; margin-right: 40px; margin-left: -40px; margin-top: -15px; margin-bottom: -10px">Cancelar</button>
                                    </form>
                                </div>

                        
                    </dt>
                    
                    </div>
                </div>
                
                
                
                
  </main>


</div>
        <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>new gnMenu( document.getElementById( 'gn-menu' ) );</script>
        <script src="js/choice.js"></script>
	</body>
</html>