<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Frases</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/Frases_EscolherP.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
                                <a hre=""><img src="lupa.png" style="height: 22px; margin-left: 19px; margin-right: 15px; margin-bottom: -5px;"></a>
								</li>
								<li><a href="Frases.html"><img src="097-512.png" style="height: 22px; margin-left: 19px; margin-right: 18px; margin-bottom: -4px;">Frases</a></li>
                                <li><a href="http://www.google.pt"><img src="agrupamentos.png" style="height: 28px; margin-left: 15px; margin-right: 16px; margin-bottom: -8px;">Agrupamentos</a></li>
                                <li><a href="http://www.google.pt"><img src="padroes.png" style="height: 40px; margin-left: 9px; margin-right: 8px; margin-bottom: -15px;">Padrões-Prática</a></li>
                                <li><a href="http://www.google.pt"><img src="Data-Export-icon1.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -4px;">Exportar</a></li>
                                <li><a href="http://www.google.pt"><img src="option.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -5px;">Definições</a></li>
							</ul>
						</div>
					</nav>
				</li>
                
				<li><a class="codrops-icon codrops-icon-prev" href="Calendario.html"><img src="atras.png" style="height:30px;margin-left:-20px;margin-bottom: -8px;margin-right: 20px">Retroceder</a></li>
				<li><a class="help" href="help.png"><img src="help.png" style="height: 40px;margin-top:25%"> </a></li>
            
                      
                <li class="dropdown"><a class="dropbtn" ><img src="user.png" style="height: 26px; margin-left:0px; margin-right: 30px; margin-bottom:-5px; ">Orlando</a>
                    <div class="dropdown-content">
                <a href="#" >Meu Perfil</a>
                <a href="#">Empresa: Happy Garden</a>
                <a href="#">Logout</a>
                        </div>
                </li>
                <li><a class="empresaatual"><img src="teammate_618547.png" style="height: 40px; margin-left:0px; margin-right: 30px; margin-bottom:-5px;">Happy Travel</a></li>
			</ul>
			<header>
				<dt><h1><img src="097-512.png" style="height: 60px; margin-right: 25px; margin-left:-130px; margin-bottom: 0px">Frases</h1></dt>
			</header>
        </div>
        <div class="wrapper">
            <main>
                <div class="calendar">
                    <div class="calendar__header">
                        <div><a href="Frases2.html" class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </a></div>
                        <div>Nº<img src="arrow_down.png" style="height: 12px;"></div>
                        <div>Data</div>
                        <div>Agrp.</div>
                        <div>Sujeito</div>
                        <div>Ação</div>
                        <div>Recetor</div>
                        <div>Artefacto</div>
                        <div>Recurso</div>
                        <div>Informação Adicional</div>
                      </div>
                
                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F50</div>
                        <div class="calendar__day day">29/11/18</div>
                        <div class="calendar__day day"></div>
                        <div class="calendar__day day">Carlos</div>
                        <div class="calendar__day day">Pedir</div>
                        <div class="calendar__day day">Manuel</div>
                        <div class="calendar__day day">Resolver os problemas com os Cardoso</div>
                        <div class="calendar__day day"></div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F49</div>
                        <div class="calendar__day day">29/11/18</div>
                        <div class="calendar__day day"> </div>
                        <div class="calendar__day day">Susana</div>
                        <div class="calendar__day day">Pedir</div>
                        <div class="calendar__day day">Carlos</div>
                        <div class="calendar__day day">Dados dos Bilhetes</div>
                        <div class="calendar__day day">Email</div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F48</div>
                        <div class="calendar__day day">28/11/18</div>
                        <div class="calendar__day day"> </div>
                        <div class="calendar__day day">Maria</div>
                        <div class="calendar__day day">Perguntou</div>
                        <div class="calendar__day day">Mapfre</div>
                        <div class="calendar__day day">Informações sobre os preços</div>
                        <div class="calendar__day day">Email</div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F47</div>
                        <div class="calendar__day day">29/11/18</div>
                        <div class="calendar__day day"> </div>
                        <div class="calendar__day day">Gustavo</div>
                        <div class="calendar__day day">Informar</div>
                        <div class="calendar__day day">Maria</div>
                        <div class="calendar__day day">Os bilhetes podem ser levantados</div>
                        <div class="calendar__day day">Email</div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F46</div>
                        <div class="calendar__day day">15/11/18</div>
                        <div class="calendar__day day">A7</div>
                        <div class="calendar__day day">Maria</div>
                        <div class="calendar__day day">Resolver</div>
                        <div class="calendar__day day">Mapfre</div>
                        <div class="calendar__day day">Os problemas com os dados</div>
                        <div class="calendar__day day">Email</div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F45</div>
                        <div class="calendar__day day">28/11/18</div>
                        <div class="calendar__day day">A6</div>
                        <div class="calendar__day day">Manuel</div>
                        <div class="calendar__day day">Informar</div>
                        <div class="calendar__day day">Maria</div>
                        <div class="calendar__day day">Os bilhetes podem ser levantados</div>
                        <div class="calendar__day day">Email</div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F44</div>
                        <div class="calendar__day day">28/11/18</div>
                        <div class="calendar__day day">A5, A6</div>
                        <div class="calendar__day day">Fábio</div>
                        <div class="calendar__day day">Vender</div>
                        <div class="calendar__day day">Família Morgado</div>
                        <div class="calendar__day day">Os bilhetes da viagem</div>
                        <div class="calendar__day day"></div>
                        <div class="calendar__day day"></div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="boxA"> <input type="checkbox"> <span class="checkmarkA"></span> </label></div>
                        <div class="calendar__day day">F43</div>
                        <div class="calendar__day day">28/11/18</div>
                        <div class="calendar__day day">A5, A6 </div>
                        <div class="calendar__day day">Fábio</div>
                        <div class="calendar__day day">Vendeu</div>
                        <div class="calendar__day day">Família Cardoso</div>
                        <div class="calendar__day day">Os bilhetes da viagem </div>
                        <div class="calendar__day day"></div>
                        <div class="calendar__day day"></div>
                      </div>
                    </div>
                  </main>
            </div>
        <div class="mes">
                    <dl>
                        <dt class="prev">&#10094;</dt>
                        <dt class="next">&#10095;</dt>
                        <dt>1-8 de 46</dt>
                    </dl>
                    </div>
        <div class="shopping">
            <div class="pasta"><img src="folder.png" style="width:50px; height:50px;"></div>
            <div class="frases">0 Frases Selecionadas</div>
            <a  href=""><button class="agrupamentoexistenteA" style="margin-top: 230px;"><span>Agrupamento Existente</span></button></a>
            <a  href=""><button class="agrupamentoexistenteB" style="margin-top: 10px;"><img class="image" src="plus.png" style="height: 30px; margin-left: -15px; margin-bottom: -8px; margin-top: 4px;"><span>Novo Agrupamento</span></button></a>
        </div>
        <div class="resultado">
            <br>
            <input id="searching" placeholder="Procurar..." type="search" class="gn-search">
            <input id="myBtn" type="button" value="Enter" onclick="window.location.href='Frase_Pesquisa.html'" style="background: #FFF; cursor: pointer; border: #FFF; margin-left: 30px; opacity: 0;">
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Número <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Dia <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Intervalo de Dias <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Agrupamento <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Sujeito/Recetor<span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Ação <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Artefacto <span class="checkmark"></span> </label>
            </div>
            <br>
            <br>
            <div class="row">
                <label class="box"> <input type="checkbox">Recurso<span class="checkmark"></span> </label>
            </div>
        </div>
        <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
                <script>
            var input = document.getElementById("searching");
            input.addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("myBtn").click();
                }
            });
        </script>
		<script>new gnMenu( document.getElementById( 'gn-menu' ) );</script>
        <script>new gnMenu( document.getElementById( 'gn-search' ) );</script>
	</body>
</html>