<html>
    <head>
        <title>Inicio de Sessao</title>
            <link rel="stylesheet" type="text/css" href="style.css">
        <body>
            <div class="loginbox">
                <img src="avatar.png" class="avatar">
                <h1>Inicio de Sessão</h1>
                <form>
                    <center>
                    <p>Username</p>
                    <input type="text" name="">
                    <p>Password</p>
                    <input type="password" name="">
                    <a href="Empresas.html"><input type="botton" class="submit" value="Login" style="text-align:center;"><br></a>
                    <a href="#">Esqueceu-se dos seus dados?</a><br><br>
                    </center>
                    <label class="container"> <input type="checkbox" checked="checked">Memorizar Username <span class="checkmark"></span> </label>
                </form>
                

            </div>
        </body>
    </head>
</html>