<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Padrões</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/Padr%C3%B5es.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
                                <a href="Agrupamentos_EscolherP.html"><img src="lupa.png" style="height: 22px; margin-left: 19px; margin-right: 18px; margin-bottom: -5px;">Procurar</a>
								</li>
								<li><a href="Frases.html"><img src="097-512.png" style="height: 22px; margin-left: 19px; margin-right: 18px; margin-bottom: -4px;">Frases</a></li>
                                <li><a href="Agrupamentos.html"><img src="agrupamentos.png" style="height: 28px; margin-left: 15px; margin-right: 16px; margin-bottom: -8px;">Agrupamentos</a></li>
                                <li><a href="http://www.google.pt"><img src="padroes.png" style="height: 40px; margin-left: 9px; margin-right: 8px; margin-bottom: -15px;">Padrões-Prática</a></li>
                                <li><a href="http://www.google.pt"><img src="Data-Export-icon1.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -4px;">Exportar</a></li>
                                <li><a href="http://www.google.pt"><img src="option.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -5px;">Definições</a></li>
							</ul>
						</div>
					</nav>
				</li>
                
                  <li><a class="codrops-icon codrops-icon-prev" href="help.png"><img src="help.png" style="height: 40px;margin-top:25%"> </a></li>
            
                      
                <li class="dropdown"><a class="dropbtn" ><img src="user.png" style="height: 26px; margin-left:0px; margin-right: 30px; margin-bottom:-5px; ">Orlando</a>
                    <div class="dropdown-content">
                <a href="#" >Meu Perfil</a>
                <a href="#">Logout</a>
                        </div>
                </li>
                <li><a class="empresaatual"><img src="teammate_618547.png" style="height: 40px; margin-left:0px; margin-right: 30px; margin-bottom:-5px;">Happy Travel</a></li>
			</ul>
			<header>
				<dt><h1><img src="padroes.png" style="height: 80px; margin-right: 25px; margin-left:-130px; margin-bottom: -25px;">Padrões</h1></dt>
			</header>
        </div>
        <div class="wrapper">
            <main>
                <div class="calendar">
                    <div class="calendar__header">
                        <div><a href="Frases2.html" class="boxA"> <input type="checkbox"> <span class="checkmark"></span> </a></div>
                        <div>Nº<img src="arrow_down.png" style="height: 12px;"></div>
                        <div>Data</div>
                        <div>Nome</div>
                        <div>Descrição</div>
                        <div>Agrupamentos</div>
                      </div>
                
                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="box"> <input type="checkbox"> <span class="checkmark"></span> </label></div>
                        <div class="calendar__day day">P10</div>
                        <div class="calendar__day day">13/11/18</div>
                        <div class="calendar__day day">Procedimento de Viagens</div>
                        <div class="calendar__day day">Venda e Compra de Bilhetes</div>
                        <div class="calendar__day day">F1, F5, F9, F10</div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="box"> <input type="checkbox"> <span class="checkmark"></span> </label></div>
                        <div class="calendar__day day">P9</div>
                        <div class="calendar__day day">05/04/18</div>
                        <div class="calendar__day day">Conversas entre Seguradoras</div>
                        <div class="calendar__day day">Emails, Telefonemas, (...) entre seguradoras</div>
                        <div class="calendar__day day">F15, F20, F21, F22</div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="box"> <input type="checkbox"> <span class="checkmark"></span> </label></div>
                        <div class="calendar__day day">P8</div>
                        <div class="calendar__day day">01/11/18</div>
                        <div class="calendar__day day">Reservas de quartos duplos</div>
                        <div class="calendar__day day">Todos os pedidos de quartos duplos</div>
                        <div class="calendar__day day">F23, F25, F50, F53</div>
                      </div>

                      <div class="calendar__week">
                        <div class="calendar__day day"><label class="box"> <input type="checkbox"> <span class="checkmark"></span> </label></div>
                        <div class="calendar__day day">P7</div>
                        <div class="calendar__day day">15/10/18</div>
                        <div class="calendar__day day">Reservas de Quartos Individuais</div>
                        <div class="calendar__day day">Todos os pedidos de quartos individuais</div>
                        <div class="calendar__day day"></div>
                      </div>
                    </div>
                  </main>
            </div>
        <div class="mes">
                    <dl>
                        <dt class="next">&#10095;</dt>
                        <dt>1-5 de 12</dt>
                    </dl>
                    </div>
        <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
        <script>
            var input = document.getElementById("searching");
            input.addEventListener("keyup", function(event) {
                event.preventDefault();
                if (event.keyCode === 13) {
                    document.getElementById("myBtn").click();
                }
            });
        </script>
		<script>new gnMenu( document.getElementById( 'gn-menu' ) );</script>
        <script>new gnMenu( document.getElementById( 'gn-search' ) );</script>
	</body>
</html>