<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Novo Padrao-Pratica</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/padraoe.css" />
		<script src="js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
                                    <img src="lupa.png" style="height: 22px; margin-left: 19px; margin-right: 15px; margin-bottom: -5px;">
									<input placeholder="Procurar" type="search" class="gn-search">
								</li>
								<li><a href="Frases.html"><img src="097-512.png" style="height: 22px; margin-left: 19px; margin-right: 18px; margin-bottom: -4px;">Frases</a></li>
                                <li><a href="http://www.google.pt"><img src="agrupamentos.png" style="height: 28px; margin-left: 15px; margin-right: 16px; margin-bottom: -8px;">Agrupamentos</a></li>
                                <li><a href="http://www.google.pt"><img src="padroes.png" style="height: 40px; margin-left: 9px; margin-right: 8px; margin-bottom: -15px;">Padrões-Prática</a></li>
                                <li><a href="http://www.google.pt"><img src="Data-Export-icon1.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -4px;">Exportar</a></li>
                                <li><a href="http://www.google.pt"><img src="option.png" style="height: 24px; margin-left: 17px; margin-right: 18px; margin-bottom: -5px;">Definições</a></li>
							</ul>
						</div>
					</nav>
				</li>
				<li><a class="codrops-icon codrops-icon-prev" href="Frases2.html"><img src="atras.png" style="height:30px;margin-left:-20px;margin-bottom: -8px;margin-right: 20px">Retroceder</a></li>
                <li><a class="codrops-icon codrops-icon-prev" href="help.png"><img src="help.png" style="height: 40px;margin-top:25%"> </a></li>    
                <li class="dropdown"><a class="dropbtn" ><img src="user.png" style="height: 26px; margin-left:0px; margin-right: 30px; margin-bottom:-5px; ">Mário</a>
                <div class="dropdown-content">
					<a href="#">Meu Perfil</a>
					<a href="#">Logout</a>
                </div>
                </li>
                
			</ul>
			<header>
				<dt><h1><img src="padroes.png" style="height: 80px; margin-right: 25px; margin-left:-20px;margin-bottom: -15px;"><span>Padrão-Prática (Edição)</span></h1></dt>
			</header>
        </div>
        <div class="wrapper">
             <main>
                <div class="toolbar">
                    <div class="mes">
                    <dl>
                        <dt><b>P20</b> Procedimentos de Viagens</dt>
                    </dl>
                    </div>
                </div>
                <div class="ac_box">
                    <div class="ac_box_top"></div>
                    <div class="ac_box_cont">
                    <dt>
                        
                  	</dt>
                    <dt>
                        
                         <form style="margin-top:10px;margin-left: 12px;width: 62%; ">
                        	<span style="margin-left: 10px">Descrição</span>
                            <div class="ac_boxe" style="font-size: 15px">
                            Todos os procedimentos necessários para realizar todas as viagens
                            </div>
                             
                             <span style="margin-left: 75%;margin-top "></span>
                            <div class="ac_boxa" style="font-size: 15px">
                             <img src="cancelar.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A62</b> - Compra de Bilhetes - Todas as compras de bilhetes para a Malásia
                                
                            <p style="margin-top: 15px; margin-bottom: 15px"><img src="cancelar.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A67</b>- Check-in - Verificação de todos os check-in dos clientes</p>
                                
                            <p style="margin-top:15px; margin-bottom: 15px"><img src="cancelar.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A64</b> - Reservas nos Hóteis - Verificação das reservas completas nos hoteis</p>
                                
                            </div>
                     
                        </form> 
                        

                        	
                     
                        
                    </dt>
					<br><br>
                    <dt>
                        <form style="margin-top:-30px;margin-left: 12px;width: 62%; margin-bottom: 40px">
                        	<span>Agrupamentos Adicionados</span>
                            <div class="ac_boxi" style="font-size: 15px">
                            <img src="ponto.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A62</b> - Embarque dos Clientes
                                
                            <p style="margin-top: 15px; margin-bottom: 15px"><img src="ponto.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A67</b>- Desembarque dos Clientes</p>
                                
                            <p style="margin-top:15px; margin-bottom: 15px"><img src="ponto.png" style="height: 10px; margin-right: 5px;cursor: pointer"> <b>A64</b> - Viagens para os Hoteis</p>
                                
                            
                                
                            </div>
                        </form> 
                        
                     </dt>
                        
                     <dt>
                     <button class="button_cancelar" onclick="openCancel()" ><img src="cancelar.png" style="height: 20px; margin-bottom: -5px; margin-left:-10px;"><span style="margin-left: 8%;">Cancelar</span></button>
                                 <div class="form-popup" id="Cancel">
                                <form class="form-container">
                                <h1>A Frase não foi guardada</h1>
                                    <label ><b>Tem a certeza que quer sair da página?</b><p>Irá perder os dados inseridos.</p></label>
                                    

                                    <button class="btn " href="Frases.html">Sim</button>
                                    
                                    <button type="button" class="btn cancel" onclick="closeCancel()">Não</button>
                                    </form>
                                </div>
                            
                                <button class="open-button" onclick="openForm()"><img src="save.png" style="height: 25px; margin-bottom: -5px; margin-left:-5px; margin-right:10px ">Guardar</button>
                                
                                <div class="form-popup" id="myForm">
                                <form class="form-container">
                                <h1>Deseja guardar as alterações feitas?</h1>

                                    <label for="email"><b>Descrição</b></label><br>Todos os procedimentos necessários para realizar todas as viagens <p></p>
                                    <label for="psw"><b>Agrupamentos a adicionar</b></label><br><b>A62</b> - Compra de Bilhetes - Todas as compras de bilhetes para a Malásia
                                    
                                    <br><b>A67</b>- Check-in - Verificação de todos os check-in dos clientes
                                    <br> <b>A64</b> - Reservas nos Hóteis - Verificação das reservas completas nos hoteis<p></p>
                                
                                    
                                    <label for="psw"><b>Agrupamentos Adicionados</b></label><br><b>A62</b> - Embarque dos Clientes
                                    <br> <b>A67</b>- Desembarque dos Clientes
                                    <br><b>A64</b> - Viagens para os Hoteis<p></p>
                                

                                    

                                       <a  type="button" class="btn cancel" onclick="closeForm()"><img src="cancelar.png" style="height: 20px; margin-left: -5px; margin-right: 5px; margin-top: -15px; margin-bottom: -5px">Cancelar</a>
                                    
                                    <a type="button" class="btn " href="diaf.html"><img src="save.png" style="height: 30px; margin-right:6px; margin-left: -5px; margin-top: -15px; margin-bottom: -10px">Guardar</a>
									
                                    </form>
                                   
                                </div>

                    </dt>
                    </div>
                </div>      
  			</main>
		</div>
        <script src="js/classie.js"></script>
		<script src="js/gnmenu.js"></script>
		<script>new gnMenu( document.getElementById( 'gn-menu' ) );</script>
        <script src="js/choice.js"></script>
	</body>
</html>