<html>
    <head>
        <title>Inicio de Sessao</title>
            <link rel="stylesheet" type="text/css" href="style.css">
        <body>
            <div class="loginbox">
                <h1>Inicio de Sessão</h1>
                <form>
                    <center>
                    <p>Username</p>
                    <input type="text" name="">
                    <p>Password</p>
                    <input type="password" name="">
                    <a href="Calendario.html"><input type="botton" class="submit" value="Login" style="text-align:center;"><br></a>
                    <a href="#">Esqueceu-se dos seus dados?</a><br><br>
                    </center>
                    <label class="container"> <input type="checkbox" checked="checked">Memorizar Username <span class="checkmark"></span> </label>
                </form>
            </div>
			<div href="Em%20desenvolvimento.html" class="submitA"><img src="flag.jpg" style="height: 22px; margin-top: 8px; margin-bottom: -5px; padding-left: 18px;">      Idioma</div>
			<div href="Em%20desenvolvimento.html" class="submitB"><img src="help.png" style="height: 25px; margin-top: 8px; margin-bottom: -5px; padding-left: 18px;">      Ajuda</div>
        </body>
    </head>
</html>